doctype html
html(lang="en")
    head
        title="index"
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet" href="statics/bower_components/normalize.css/normalize.css")
    body
        div#react
            !{content}
