/* login page
============================*/
.login-form{
  max-width: 98%;
  min-width: 320px;
}


/* admin
==============================*/
.admin-menu{
  border-bottom: 1px solid #eee;
  & > .nav-tabs{
    margin-bottom: -1px;
  }
}
.nav.nav-tabs .active{
  background-color: white;
  border-color: #eee #eee transparent #eee;
}